---
layout: default
---

<div class="home">
    
<article class="post">

  <div class="post-content">
    <div class="section group">

    <div class="col span_1_of_2">
      <div class="info_section">
        <h1 class="info_section__title">Ajankohtaista</h1>
        <ul class="post_list">
          {% for post in site.posts limit: 5 %}
            <li class="post_list__element">
              <a href="{{ post.url | absolute_url }}">
                <h4 class="post_list__title">{{ post.title }}</h4>
              </a>
              <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%d.%m.%Y" }}
              </time>
              <p class="post_list__excerpt">
                {{ post.excerpt | strip_html | truncate: 90 }}
                <a href="{{ post.url | absolute_url }}">Lue lisää</a>
              </p>
            </li>
          {% endfor %}
        </ul>
        <a href="uutiset">Vanhemmat uutiset</a>
      </div>
    </div>

    <div class="col span_1_of_2">
        <div class="info_section">
          <h1 class="info_section__title">Mikä AS?</h1>
          {% capture index_content %}{% include index_content.md %}{% endcapture %}
          {{ index_content | markdownify }}
        </div>

        <div class="info_section">
          <h1 class="info_section__title">Tulevat tapahtumat</h1>
          <ul id="event-list" class="event_list">
          </ul>
          <ul id="event-list-2" class="event_list">
          </ul>

          <a href="{{ "/tapahtumat.html" | absolute_url }}">
            Kaikki tapahtumat
          </a>
        </div>
    </div>

    </div>
  </div>

  <div class="section group">
    <div class="col span_2_of_2">
      <!-- SnapWidget -->
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/embed/477716" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
    </div>
  </div>

</article>

</div>

<script src="{{ "/static/js/moment.min.js" | absolute_url }}"></script>
<script src="{{ "/static/js/format-google-calendar.js" | absolute_url }}"></script>
<script type="text/javascript">
  formatGoogleCalendar.init({
    calendarUrl: 'https://www.googleapis.com/calendar/v3/calendars/as.tiedottaja@gmail.com/events?key=AIzaSyCJrtmGOeEFAq912lwijvCmKR33SAtC_qo',
    past: false,
    upcoming: true,
    sameDayTimes: true,
    dayNames: true,
    pastTopN: -1,
    upcomingTopN: 5,
    recurringEvents: true,
    itemsTagName: 'li',
    upcomingSelector: '#event-list',
    pastSelector: '#event-list-2',
    upcomingHeading: '',
    pastHeading: '',
    format: ['*summary*', '*date*', '*description*'],
    timeMin: '2016-06-03T10:00:00-07:00',
    timeMax: '2020-06-03T10:00:00-07:00'
  });
</script>
