<footer class="site-footer">

  <div class="wrapper" style="text-align:center;">

    <h2 class="footer-heading">Yhteistyössä</h2>
    <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
            <a href="http://new.abb.com/fi"><img width="100" style="margin:20px;border:0;" src="/static/sponsors/ABB.png" alt=""></a>
           <a href="http://reaktor.com/"><img width="150" style="margin:20px;border:0;" src="/static/sponsors/reaktor.png" alt=""></a>
           <a href="http://www.eficode.fi/"><img width="100" style="margin:20px;border:0;" src="/static/sponsors/eficode.png" alt=""></a>
        </div>
    </div>

  </div>

</footer>
