<footer class="site-footer">

  <div class="wrapper" style="text-align:center;">

    <h2 class="footer-heading">Yhteistyössä</h2>
    <div class="footer-col-wrapper">
           <a href="http://www.eficode.fi/"><img width="100" style="margin:20px;border:0;" src="{{ "/static/sponsors/eficode.png" | absolute_url }}" alt=""></a>
           <a href="http://reaktor.com/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/reaktor.png" | absolute_url }}" alt=""></a>
           <a href="http://www.gofore.fi/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/gofore.png" | absolute_url }}" alt=""></a>
           <a href="http://www.tuxera.com/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/tuxera.png" | absolute_url }}" alt=""></a>
           <a href="http://www.ssf.fi/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/SSF.png" | absolute_url }}" alt=""></a>
           <a href="https://www.vincit.fi/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/vincit.png" | absolute_url }}" alt=""></a>
           <a href="https://www.academicwork.fi/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/academicwork.png" | absolute_url }}" alt=""></a>
           <a href="https://www.futurice.com/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/futurice.png" | absolute_url }}" alt=""></a>
           <a href="https://www.valmet.com/"><img width="150" style="margin:20px;border:0;" src="{{ "/static/sponsors/valmet.png" | absolute_url }}" alt=""></a>
    </div>

  </div>

</footer>
