<header class="site-header">



    <div class="header__title">
      <h1>
        <a class="site-title" href="{{ site.baseurl }}/"><img src="/static/aswhite.png"/ height="40px" style="margin:20px ">{{ site.title }}</a>
      </h1>
    </div>
    <nav class="navigation header__navigation">
      <ul>
        <li class="navigation__item"><a href="{{ '/' | prepend: site.baseurl}}">Etusivu</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/' | prepend: site.baseurl }}">Kilta</a></li>
        <li class="navigation__item"><a href="{{ '/opiskelu/' | prepend: site.baseurl }}">Opiskelu</a></li>
        <li class="navigation__item"><a href="{{ '/phuksit/' | prepend: site.baseurl }}">Uudet opiskelijat</a></li>
        <li class="navigation__item"><a href="{{ '/tapahtumat/' | prepend: site.baseurl }}">Tapahtumat</a></li>
        <li class="navigation__item"><a href="{{ '/yrityksille/' | prepend: site.baseurl }}">Yrityksille</a></li>
        <li class="navigation__item"><a href="{{ '/yhteystiedot/' | prepend: site.baseurl }}">Yhteystiedot</a></li>
        <li class="navigation__item"><a href="{{ '/in-english/' | prepend: site.baseurl }}">In English</a></li>
      </ul>
    </nav>
    {% if page.title == "Kilta" or page.kilta %}
    <nav class="navigation header__navigation">
      <ul>
        <li class="navigation__item"><a href="{{ '/kilta/aski' | prepend: site.baseurl}}">Aski</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/hallitus' | prepend: site.baseurl }}">Hallitus</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/toimihenkilot' | prepend: site.baseurl }}">Toimihenkilöt</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/viestinta' | prepend: site.baseurl }}">Viestintä</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/gt' | prepend: site.baseurl }}">GT</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/halloped' | prepend: site.baseurl }}">Halloped</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/jasenyys' | prepend: site.baseurl }}">Jäsenyys</a></li>
        <li class="navigation__item"><a href="{{ '/kilta/saatokerho' | prepend: site.baseurl }}">Säätökerho</a></li>
      </ul>
    </nav>
    {% endif %}


</header>
