.archive_navi {
  $spacer: 1em;

  margin-bottom: $spacing-unit;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__subcontainer {
    display: flex;
    flex-direction: column;
  }

  &__subcontainer--gap-after {
    margin-bottom: $spacer;
  }

  &__label {
    margin-right: 0.6rem;
  }

  &__list {
    @include bulletless-ul();

    margin: 0;
  }

  &__item {
    display: inline;
    margin-right: 0.7em;
  }

  &__main_page_link {
    display: block;
    margin-top: $spacer;
  }
}
