$contact-internal-vgap: 4px;
$contact-vspacing: 2em;

.contact {
    text-align: center;
    display: inline-block;
    width: $content-width/2.2;
    margin: 0 0 $contact-vspacing 0;
    padding: 0 1em 0 1em;
}

.contact__position_name {
    margin-bottom: 0;
}

.contact__position_name--hallitus {
    margin-top: 0.2em;
}

.contact__person_name {
    margin-top: $contact-internal-vgap;
    margin-bottom: 0;
}

.contact__person_name--generic {
    margin-top: $contact-internal-vgap*2;
}

.contact__section {
    margin-top: $contact-internal-vgap;
}

.contact__section--spacer {
    border-top: 3px solid $brand-color;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.contact__photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
