@mixin bulletless-ul {
    list-style-type: none;
    margin-left: 0;
}

$info_item_separation: 0.9em;

.info_section {
    margin-bottom: 1.5em;
}

.info_section__title {
    background-color: $purple_color;
    color: white;
    padding: 0.4em;
}

.post_list {
    @include bulletless-ul();
}

.post_list__title {
    margin-bottom: 0;
}

.post_list__element {
    margin-bottom: $info_item_separation;
}

.post_list__excerpt {
    margin-bottom: 0;
}

.post_list__categories {
    @include bulletless-ul();

    display: inline;
}

.post_list__category_item {
    display: inline;
}

.event_list {
    @include bulletless-ul();
}

.event_list__row {
    display: block;
    width: 100%;
}

.event_list .summary {
    @extend h4;
    @extend .event_list__row;
    margin-bottom: 0;
}

.event_list .description {
    @extend .event_list__row;
    margin-bottom: $info_item_separation;
}
