.info_section {
    margin-bottom: 1.5em;
}

.info_section__title {
    background-color: $purple_color;
    color: white;
    padding: 0.4em;
}

.post_list {
    list-style-type: none;
}

.post_list__title {
    margin-bottom: 0;
}

.post_list__element {
    margin-bottom: 0.4em;
}
