.page--calendar.page--calendar {
  width: 100%;
  padding-top: 10px;
  margin-left: 10px;
}
.calendar-item {
  @include breakpoint(0, tablet) {
    width: 46%;
    float: left;
    h2 {
      font-size: 1.1em;
    }
  }
  height: 120px;
  background-color: rgba(250, 250, 250, 0.9);
  margin: 5px;
  text-align: center;
  .calendar-item__cover {
    padding-top: 40px;
  }
  .calendar-item__inside {
    padding-top: 40px;
    display: none;
  }
}

a.released {
  &:nth-of-type(3n) {
    .calendar-item {
      background-color: #CAFFD0;
    }
  }
  &:nth-of-type(3n+1) {
    .calendar-item {
      background-color: #FFF07C;
    }
  }
  &:nth-of-type(3n+2) {
    .calendar-item {
      background-color: #48A9A6;
      color: $white-color;
    }
  }
  .calendar-item {
      &:hover {
        border: 2px solid $brand-color;
        .calendar-item__cover {
          display: none;
        }
        .calendar-item__inside {
          display: block;
        }
      }
  }
}

.teaser--wappu {
  background: url($baseurl + '/static/2017-wappu/korkkihommia.png') repeat-x;
  background-color: $white-color;
  text-align: center;
  padding-top: 180px;
  margin-bottom: $spacing-unit / 2;
  border-top: 5px solid;
  border-bottom: 5px solid;
  animation: border-color 5s infinite;
  -webkit-animation: border-color 5s infinite;
}

.wappu-link {
  @extend %no-link-style;
}

@keyframes bg-color
{
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  75%  {background-color: green;}
  100% {background-color: red;}
}

@-webkit-keyframes bg-color
{
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  75%  {background-color: green;}
  100% {background-color: red;}
}

@keyframes border-color
{
  0%   {border-color: red;}
  25%  {border-color: yellow;}
  50%  {border-color: blue;}
  75%  {border-color: green;}
  100% {border-color: red;}
}

@-webkit-keyframes border-color
{
  0%   {border-color: red;}
  25%  {border-color: yellow;}
  50%  {border-color: blue;}
  75%  {border-color: green;}
  100% {border-color: red;}
}
