---
layout: page
---

<section>
    {{ content }}

    <div>
        {% assign people = site.data[page.data].people %}
        {% if people[0] %}
            {% assign i = 0 %}
            {% for person in people %}
                {% assign columnI = i | modulo: 2 %}
                {% if columnI == 0 %}
                    <div class="section group">
                {% endif %}
                    <div class="contact col span_1_of_2">
                        <div class="contact-inline">
                            <img class="contact__photo" style="max-height:200px; margin: 0 auto;" src="{{ person.picture | absolute_url }}" alt="">
                            <h3 class="contact__position_name contact__position_name--hallitus">{{ person.position_name }}</h3>
                            <h4 class="contact__person_name">{{ person.person_name }}</h4>
                            <div class="contact__section">
                                {% assign email_tokens = person.email | split: '@' %}
                                <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ email_tokens[0] }}REMOVETHIS@{{ email_tokens[1] }}">{{ email_tokens[0] }}</a><br>
                                <i class="fa fa-phone" aria-hidden="true"></i> {{ person.phone }}<br>
                                <i class="fa fa-telegram" aria-hidden="true"></i> @{{ person.username }}<br>
                            </div>
                            <div class="contact__section contact__section--spacer">
                            </div>
                            <div class="contact__section">
                                {{ person.description }}
                            </div>
                        </div>
                    </div>
                {% if columnI == 1 %}
                    </div>
                {% endif %}
                {% assign i = i | plus: 1 %}
            {% endfor %}
        {% endif %}
    </div>
</section>
